# Python
__pycache__/
*.py[cod]

# Environment
.env

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Misc
*.swp
*.swo

# IDE
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/ 